.recommendationContainer{
  display: grid;
  grid-template-columns: repeat(2,auto);
  align-items: baseline;
}

.circular-sb {
  width: 450px;
  border: 5px solid black;
  padding: 3rem;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: arial;
  position: relative;
  color: black;
  animation: fade ease-in-out 4.5s;
}

@keyframes fade{
  from{
    opacity: 0;
  }
  to{
  opacity: 1;
  }
}
.circle1 {
  border: 5px solid black;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;

}
.circle2 {
  border: 5px solid black;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
}


@media (max-width:768px) {
  .circular-sb{
    width: 100%;
  }
  .circle1{
  right:50px;
  bottom: -28px;
  }
  .circle2{
    right: 37px;
    bottom: -55px;
  }
  .recommendationContainer{
    grid-template-columns: none;
  }
  .ourStarsContainer h3{
    margin-top: 50px;
  }
}
.ourStarsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourStarsContainer p {
  max-width:440px;
  margin-bottom:35px;
  font-size:1.7rem;
  line-height:54px;
  font-weight:bold;
  font-style:italic;
  text-align:center;
}


@media (max-width:820px) {
.circular-sb {
  width: 85%;
 
}
}